@model Why.Models.Post

<div class="card mt-3">
    <div class="card-body">
        <rich-text text="@Model.Text"></rich-text>
    </div>
    <div class="card-footer">
        <p class="text-secondary text-end">
            - @Model.User!.UserName at
            <time datetime="@Model.Date.ToString("O")Z">
                @Model.Date.ToString("g") GMT
            </time>
        </p>
    </div>
</div>
