@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1>An error occured!</h1>
<p class="lead">We are sorry, an error occurred while processing your request</p>
<p>We are already working on fixing this.</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
