@page
@using Why.Models
@model IndexModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Home page";
}

<div class="row justify-content-center">
    <div class="col-lg-8">
        @if (SignInManager.IsSignedIn(User))
        {
            <partial name="PostEditor"/>
        }

        @foreach (var post in Model.Posts)
        {
            <partial name="UserPost" model="post"/>
        }
    </div>
</div>
