@page
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home page";
}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="alert-danger">
            @Html.ValidationSummary(excludePropertyErrors: true)
        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            <form method="post" class="card p-3" autocomplete="off">
                <div class="row g-3">
                    <div class="col">
                        <input class="form-control" asp-for="PostMessage" placeholder="Say something"/>
                        <span class="text-danger" asp-validation-for="PostMessage"></span>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-dark" type="submit">Send</button>
                    </div>
                </div>
            </form>
        }

        @foreach (var post in Model.Posts)
        {
            <div class="card mt-3">
                <div class="card-body">
                    <p class="lead">@post.Text</p>
                </div>
                <div class="card-footer">
                    <p class="text-secondary text-end">
                        - @post.User!.UserName on @post.Date.ToLocalTime().ToString("dddd, d o\\f MMMM yyyy")
                    </p>
                </div>
            </div>
        }
    </div>
</div>
