@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Privacy Policy</h1>

<p>We may collect your personal information that you give us when creating an account.</p>

<p>
    You may request the data that we have on you or its deletion on
    <a asp-area="Identity" asp-page="Account/Manage/PersonalData">this page</a>.
</p>
